@media screen and (min-width:1023px) and (max-width: 1240px) {

    /*=========== Cabeçalho ===========*/
    div#home {
        height: 54vw;
    }

    .home-text {
        top: 200px;
    }

    .linha-vertical {
        top: 200px;
        height: 94%;
    }

    /*=========== Sobre ===========*/
    div#sobre {
        height: 56vw;
    }

    /*=========== Experiencia ===========*/
    div#experiencia {
        height: 56vw;
    }

    hr {
        width: 54%;
        left: 40%;
    }

    div.nome-experiencia {
        display: flex;
        margin-left: 24%;
        width: 100%;
    }

    div.nome-experiencia>small {
        margin-top: 3%;
        margin-left: -10%;
    }

}

@media screen and (min-width:992px) and (max-width: 1024px) {

    /*=========== Cabeçalho ===========*/
    div#home {
        height: 65vw;
    }

    .home-text {
        top: 180px;
    }

    .linha-vertical {
        top: 180px;
        height: 94%;
    }

    article.menu {
        top: 7.5%;
        left: 4%;
    }

    hr {
        width: 52%;
        left: 40%;
    }

    /*=========== Sobre ===========*/

    div#sobre {
        height: 72vw;
    }

    article.sobre>p {
        margin-top: -90px;
        margin-left: 24%;
        top: 100px;
    }

    /*=========== Experiencia ===========*/
    div#experiencia {
        height: 72vw;
    }

    .experiencia-text>h2 {
        margin-left: 76%;
    }

    .experiencia-text>hr {
        left: 24%;
        width: 48%;
    }

    div.nome-experiencia {
        width: 74%;
    }

    div.nome-experiencia>p {
        width: 26%;
    }

    div.nome-experiencia>small {
        margin-top: 5%;
        margin-left: -20%;
        width: 22%;
    }

    /*=========== Projetos ===========*/

    div#projetos {
        height: 72vw;
    }

    div.card {
        width: 30%;
        margin-left: 8%;
    }

    div.card:nth-child(odd) {
        margin-left: 24%;
    }

    div.card:nth-child(4) {
        margin-left: 8%;
    }

    footer {
        bottom: -28%;
    }

}

@media screen and (min-width:768px) and (max-width: 991px) {

    /*=========== Cabeçalho ===========*/
    div#home {
        height: 88vw;
    }

    .home-text {
        top: 150px;
        width: 66%;
        text-align: right;
        margin-left: 24%;
    }

    .linha-vertical {
        display: none;
    }

    article.menu {
        display: none;
    }

    /*=========== Sobre ===========*/
    div#sobre {
        height: 100vw;
    }

    .sobre-text p,
    h2 {
        margin-left: 8%;
        width: 60%;
    }

    .sobre-text-p {
        margin-top: -90px;
    }

    .sobre-text>ul {
        width: 60%;
        margin-left: 14%;
    }

    img {
        width: 16%;
        left: 78%;
        border-radius: 20%;
    }

    /*=========== Experiencia ===========*/
    div#experiencia {
        height: 100vw;
    }

    .experiencia-text>h2 {
        margin-left: 72%;
    }

    .experiencia-text>hr {
        left: 8%;
        width: 60%;
    }

    div.nome-experiencia {
        margin-left: 8%;
        width: 90%;
    }

    div.nome-experiencia>p {
        width: 26%;
    }

    div.nome-experiencia>small {
        margin-top: 5%;
        margin-left: -18%;
        width: 27%;
    }

    div.desc-experiencia>ul {
        margin: 0% 10% 0px 18%;
    }

    /*=========== Projetos ===========*/

    div#projetos {
        height: 100vw;
    }

    div.card {
        width: 38%;
        margin-left: 8%;
    }

    div.card:nth-child(odd) {
        margin-left: 8%;
    }

    div.card:nth-child(4) {
        margin-left: 8%;
    }
}

@media screen and (min-width:481px) and (max-width: 767px) {

    /*=========== Cabeçalho ===========*/
    div#home {
        height: 90vw;
    }

    .home-text {
        top: 200px;
    }

    article.menu {
        display: none;
    }

    .linha-vertical {
        display: none;
    }

    hr {
        width: 56%;
        left: 36%;
    }

    /*=========== Sobre ===========*/

    div#sobre {
        height: 100vw;
    }

    .sobre-text p,
    h2 {
        margin-left: 8%;
        width: 60%;
    }

    .sobre-text-p {
        margin-top: -135px;
    }

    img {
        margin-top: 4%;
        width: 18%;
        left: 75%;
        top: 18px;
    }

    .sobre-text>ul {
        top: -18vw;
        width: 80%;
        margin-left: 14%;
    }

    article.sobre>p {
        top: -18vw;
        width: 60%;
        margin-left: 12%;
    }

    /*=========== Experiencia ===========*/

    div#experiencia {
        height: 100vw;
    }

    .experiencia-text>h2 {
        margin-left: 70%;
    }

    .experiencia-text>hr {
        left: 8%;
        width: 56%;
    }

    div.nome-experiencia {
        display: block;
        text-align: center;
        justify-content: center;
        margin-left: 8%;
        width: 80%;
    }

    .nome-experiencia>p {
        margin-left: 2%;
        margin-top: 6%;
    }

    div.nome-experiencia>small {
        margin-left: 1%;
    }

    div.desc-experiencia>ul {
        width: 100%;
        margin-left: 8%;
        margin-top: 8%;
    }

    /*=========== Projetos ===========*/

    div#projetos {
        height: 100vw;
    }

    div.card {
        margin-left: 5%;
        width: 40%;
    }

    div.card:nth-child(odd) {
        margin-left: 8%;
    }

    div.card:nth-child(4) {
        margin-left: 5%;
    }


}

@media screen and (min-width:320px) and (max-width: 480px) {

    /*=========== Cabeçalho ===========*/
    div#home {
        height: 160vw;
        width: 100%;

    }

    .home-text {
        top: 180px;
        text-align: center;
        margin-left: 8%;
    }

    .home-tex>h1{
        padding-bottom: 18%;
    }

    .home-tex>p{
        padding-bottom: 18%;
    }

    .home-text>input{
        padding-right: 40%;
        padding-left: 20%;
    }

    article.menu {
        display: none;
    }

    .linha-vertical {
        display: none;
    }

    hr {
        width: 38%;
        left: 54%;
    }

    /*=========== Sobre ===========*/

    div#sobre {
        height: 230vw;
    }

    .sobre-text p,h2 {
        margin-left: 8%;
    }

    .sobre-text p {
        width: 80%;
        text-align: center;
    }

    .sobre-text-p {
        margin-top: 8%;
    }

    img {
        display: none;
    }

    article.sobre-text>ul {
        columns: 2;
        width: 80%;
        margin-left: 10%;
    }

    article.sobre-text>ul>li {
        margin-bottom: 12%;
    }

    /*=========== Experiencia ===========*/

    div#experiencia {
        height: 150vw;
    }

    .experiencia-text>h2 {
        margin-left: 52%;
    }

    .experiencia-text>hr {
        left: 8%;
        width: 40%;
    }

    div.nome-experiencia {
        display: block;
        text-align: center;
        justify-content: center;
        margin-left: 8%;
        width: 80%;
    }

    .nome-experiencia>p {
        margin-left: 2%;
        margin-top: 6%;
    }

    div.nome-experiencia>small {
        margin-left: 1%;
    }

    div.desc-experiencia>ul {
        width: 100%;
        margin-left: 8%;
        margin-top: 8%;
    }

    /*=========== Projetos ===========*/

    div#projetos {
        height: 290vw;
    }

    div.card:nth-child(odd) {
        margin-left: 10%;
    }

    div.card:nth-child(4) {
        margin-left: 10%;
    }

    div.card {
        margin-left: 10%;
        width: 80%;
    }

}