@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;400&display=swap');

:root{
    --corFundo: #482680;
    --corDestaque: #E20CF2;
    --corLetra: #fff;
    --fonte: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
/*=============================== body ===============================*/
body{
    min-width: 100hv;
    min-height: 100hv;
    font-family: var(--fonte);
    background: var(--corFundo);
    color: var(--corLetra);
    font-weight: 400;
    line-height: 1.8em;
}

/*=============================== header ===============================*/
header{
    margin: 24px;
    position: relative;
}

header > h1{
    font-weight: 200;
}

header > p{
    margin-top: 8px;
    margin-left: 24px;
    width: 64%;
}

header > input{
    position: absolute;
    padding: 8px;
    width: 8%;
    top: 64%;
    left: 47%;
    color: var(--corDestaque);
    background-color: var(--corFundo);
    cursor: pointer;
    border-color: var(--corDestaque);
    border-radius: 12px;
}

strong{
    color: var(--corDestaque);
    font-weight: 400;
}

/*=============================== main - sobre ===============================*/
main{
    position: relative;
    font-weight: 200;
    width: 56%;
    margin: 24px;
}

h3{
    color: var(--corDestaque);
}

img{
    position: absolute;
    width: 20%;
    top: 7%;
    left: 96%;
    border-radius: 20px;
    box-shadow: 7px 7px 13px 0px #301954;
}

hr{
    position: relative;
    top: -8px;
    left: 16%;
    border-color: var(--corDestaque);
}

p{
    margin: 16px 0px 0px 24px;
}

div.sobre>ul{
    columns: 3;
    margin: 4% 0px 0px 24%;
}

div.experiencia{
    margin-top: 5%;
}

div.nome-experiencia{
    display: flex;
}
div.nome-experiencia>small{
    margin-top: 5%;
    margin-left: -12%;
}

div.desc-experiencia > ul{
    margin: 4% 0px 0px 24%;
}

div.projetos{
    margin-top: 5%;
}

div.card{
    margin: 16px 0px 0px 24px;
    width: 40%;
    min-height: 160px;
    border: 1px solid var(--corDestaque);
    border-radius: 16px;
}

div.card:hover{
    height: 30%;
}

div.texto{
    padding: 0px 2% 2% 0px;
}

div.texto h4{
    margin-left: 24px;
}

.material-symbols-outlined{
    color: var(--corDestaque);
    margin: 4% 0px 0px 5%;
}

a{
    text-decoration: none;
}

footer{
    text-align: center;
    margin: 16px;
}